/* **********General************* */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
}

table {
  border-collapse: collapse;
  tbody {
    tr {
      td {
        width: 20px;
        height: 20px;
        border: 1px solid black;
        background-color: white;
      }
    }
  }
}

td.living {
  background-color: #333;
}
